// Place all the styles related to the sales controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.form-control{
  margin-bottom: 20px;
  label{
    font-weight: bold;
  }
}
.product{
  border: 1px solid #ccc;
  padding: 20px;
  margin-top: 20px;
}
